{% extends "apps/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create a new property type{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Create a new property type
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_property_type_list' %}">Property Type</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Create a new property type</h1>
    <p></p>
    <p>Note : Some name are reserved and cannot be used as property type name since they are used by the wiki system.</p>
    <ul>
    {% for name in wiki_property_type_list %}
        <li>{{ name }}</li>
    {% endfor %}
    </ul>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}

{% block scripts %}
<script>
    const typeLimitationTemplate = {
        "string": {
            "min_length": 0,
            "max_length": 255
        },
        "number": {
            "min_value": -2147483648,
            "max_value": 2147483647
        },
        "float": {
            "min_value": -2147483648,
            "max_value": 2147483647,
            "decimal_places": 2
        },
        "boolean": {},
        "date": {},
        "datetime": {},
        "markdown": {},
        "image": {},
        "file": {},
        "instance": {
            "class_id": 0
        },
        "instance_list": {
            "allow_class_id_list": []
        },
        "json": {
            "initial_json": {}
        },
        "class": {}
    };

    // limitation text area
    let limitation = document.getElementById("id_limitation");
    let rawType = document.getElementById("id_raw_type");
    
    // on raw type dropdown value change, update the limitation text area
    rawType.addEventListener("change", function() {
        let type = rawType.value;
        limitation.value = JSON.stringify(typeLimitationTemplate[type], null, 4);
    });
    
    // Add string limitation as default
    limitation.value = JSON.stringify(typeLimitationTemplate[rawType.value], null, 4);
</script>
{% endblock %}