{% extends "apps/base.html" %}
{% load static %}

{% block title %}{{ class.name }} < Class{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        {{ class.name }}
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_class_list' %}">Class</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ class.name }}</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ class.name }}</h1>
    <p></p>
    {% if user.is_staff %}
    <a href="{% url 'apps_class_edit' class.id %}" class="btn btn-primary"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 20px"></i> Edit</a>
    {% endif %}
    <h2>Instances</h2>
    {% if instance_list %}
        <div class="row gy-2">
            {% for instance in instance_list %}
            <div class="col-md-4">
                <div class="element-card-wrapper">
                    <div class="element-card-background" style="background: url({% static 'img/login.jpg' %}) center center / cover no-repeat; width: 100%; height: 100%; border-radius: 0.25rem;">
                        <div class="element-card-body">
                            <h5 class="card-title">{{ instance.name }}</h5>
                            <p class="card-text mb-0">Instance ID : {{ instance.id }}</p>
                            <p class="card-text">Parent Class : <a href="{% url 'apps_class_detail' instance.class_instance.id %}">{{ instance.class_instance.name }}</a></p>
                            <a href="{% url 'apps_instance_detail' instance.id %}" class="btn btn-primary btn-sm"><i class="mdi mdi-information" aria-hidden="true" style="font-size: 15px"></i> Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p><i class="mdi mdi-alert-circle-outline"></i> No instance bind to this class</p>
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}