{% extends "apps/base.html" %}
{% load static %}

{% block title %}Instance-Instance Connection{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Instance-Instance Connection
    </p>
{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Instance-Instance Connection</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'apps_instance_instance_connection_create' %}" class="btn btn-primary"><i class="mdi mdi-plus" aria-hidden="true" style="font-size: 20px"></i> Create</a>
    {% else %}
    <p><i class="mdi mdi-lock" aria-hidden="true" style="font-size: 20px"></i> <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">register an account</a> to make a change</p>
    {% endif %}
    <p></p>
    <div class="row">
        {% for instance in all_instances %}
        <div class="col-md-4">
            <div class="element-card-wrapper">
                <div class="element-card-background" style="background: url({% static 'img/login.jpg' %}) center center / cover no-repeat; width: 100%; height: 100%; border-radius: 0.25rem;">
                    <div class="element-card-body">
                        <h5 class="card-title">{{ instance.name }}</h5>
                        <p class="card-text mb-0">ID : {{ instance.id }}</p>
                        <p class="card-text mb-0">From : {{ instance.first_instance_class.name }}</p>
                        <p class="card-text">To : {{ instance.second_instance_class.name }}</p>
                        <a href="{% url 'apps_instance_detail' instance.id %}" class="btn btn-primary btn-sm"><i class="mdi mdi-information" aria-hidden="true" style="font-size: 15px"></i> Detail</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}