{% extends "apps/base.html" %}
{% load static %}

{% block title %}Add property for {{ instance.name }}{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        {{ instance.name }}
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_list' %}">Instance</a></li>
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_detail' instance.id %}">{{ instance.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add property list</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Add property for {{ instance.name }}</h1>
    <p></p>
    <p>Showing property types that can be added to <b>{{ instance.name }}</b> (property that can add to instance in <b>{{ instance.class_instance.name }}</b> class), if the property type you want is not listed, please create it <a href="{% url 'apps_property_type_create' %}">here</a>.</p>
    <div class="row">
    {% for property in all_property_types %}
        <div class="col-md-4">
            <div class="element-card-wrapper" {% if property.exist %}style="opacity: 50%"{% endif %}>
                <div class="element-card-background" style="background: url({% static 'img/login.jpg' %}) center center / cover no-repeat; width: 100%; height: 100%; border-radius: 0.25rem;">
                    <div class="element-card-body">
                        <h5 class="card-title">{{ property.property_type.name }}</h5>
                        <p class="card-text mb-0">Raw type : {{ property.property_type.get_raw_type_display }}</p>
                        {% if property.exist %}
                        <p><i class="mdi mdi-alert-circle-outline"></i> This property already exist in this instance</p>
                        {% else %}
                        <a href="{% url 'apps_instance_add_property' instance.id property.property_type.id %}" class="btn btn-primary btn-sm"><i class="mdi mdi-flag-plus" aria-hidden="true" style="font-size: 15px"></i> Create</a>
                        {% endif %}
                        <a href="{% url 'apps_property_type_detail' property.property_type.id %}" class="btn btn-primary btn-sm"><i class="mdi mdi-information" aria-hidden="true" style="font-size: 15px"></i> Detail</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}