{% extends "apps/base.html" %}
{% load static %}
{% load markdown_converter %}
{% load object_renderer %}

{% block title %}{{ instance.name }}{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        {{ instance.name }}
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_list' %}">Instance</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ instance.name }}</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ instance.name }}</h1>
    <p></p>
    {% include 'apps/instances/snippets/top_menu_pills.html' %}
    <p></p>
    {% if user.is_staff %}
    {% if not have_wiki_property %}
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i> Some properties required for wiki are missing. Click <a href="{% url 'apps_instance_create_wiki_property' instance.id %}">here</a> to create them.
        </div>
    {% endif %}
    {% endif %}
    <div style="border-bottom: 1px solid var(--shido-border); margin-bottom: .5rem; padding-bottom: .5rem; margin-top: 1rem;">
        <h1>{% if wiki_detail.title %}{{ wiki_detail.title }}{% else %}{{ instance.name }}{% endif %}</h1>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% if wiki_detail.content %}
                <div style="max-width: 100vw; overflow-x: auto;">
                    {{ wiki_detail.content|convert_markdown|safe }}
                </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div class="p-3" style="background-color: var(--shido-background-darker); border-radius: 0.25rem;">
                <h3 style="text-align: center">{% if wiki_detail.title %}{{ wiki_detail.title }}{% else %}{{ instance.name }}{% endif %}</h3>
                {% if wiki_detail.image %}
                <img src="{{ wiki_detail.image }}" style="width: 100%; border-radius: 0.25rem;">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}