{% extends "apps/base.html" %}
{% load static %}

{% block title %}{{ instance.name }}{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        {{ instance.name }}
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_list' %}">Instance</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ instance.name }}</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">{{ instance.name }}</h1>
    <p></p>
    <a href="{% url 'apps_instance_edit' instance.id %}" class="btn btn-primary"><i class="mdi mdi-pencil" aria-hidden="true" style="font-size: 20px"></i> Edit</a>
    <a href="{% url 'apps_instance_property_list' instance.id %}" class="btn btn-primary"><i class="mdi mdi-flag-plus" aria-hidden="true" style="font-size: 20px"></i> Add or edit property</a>
    <p></p>
    {% for property in object_property %}
    <div class="row">
        <div class="col-md-3">
            <p>{{ property.property_type.name }}</p>
            <p>ID : {{ property.id }}</p>
            <p><a href="{% url 'apps_instance_property_form' instance.id property.property_type.id %}" class="btn btn-sm btn-primary"><i class="mdi mdi-pencil-plus" aria-hidden="true" style="font-size: 14px"></i> Edit</a></p>
        </div>
        <div class="col-md-9">
            {% if property.property_type.raw_type == 'image' %}
            <img src="{{ property.raw_value }}" alt="{{ property.property_type.name }}" style="max-width: 100%; max-height: 100%;">
            {% else %}
            <p>{{ property.raw_value }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block scripts %}

{% endblock %}