{% extends "apps/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Add property for {{ instance.name }}{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Add or edit property for {{ instance.name }}
    </p>
{% endblock %}

{% block content %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_list' %}">Instance</a></li>
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_detail' instance.id %}">{{ instance.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'apps_instance_property_list' instance.id %}">Add or edit property list</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add or edit property</li>
        </ol>
    </nav>
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Add or edit property for {{ instance.name }}</h1>
    <p></p>
    {% if old_property %}
    <p>You are editing property <b>{{ old_property.name }}</b> for instance <b>{{ instance.name }}</b> that using raw type <b>{{ old_property.raw_type }}</b> with limitation :</p>
    {% else %}
    <p>You are adding property type <b>{{ property_type.name }}</b> for instance <b>{{ instance.name }}</b> that using raw type <b>{{ property_type.raw_type }}</b> with limitation :</p>
    {% endif %}
    {% if limitation_list %}
        <ul>
            {% for limitation in limitation_list %}
                <li>{{ limitation.key }} : {{ limitation.value }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p><i class="mdi mdi-alert-circle-outline"></i> No limitation set</p>
    {% endif %}
    {% if old_property %}
        <p>Old raw value : {{ old_property.raw_value }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}

{% block scripts %}

{% endblock %}